<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<style type="text/css">
		.red {
			color: #dd0000;
		}
		.orange {
			color: #de830b;
		}
	</style>
</head>
<body>
	<a href="/">voltar</a>
	<br><br>
	<h1>Account Info</h1>
	
</body>
</html>