<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
	<a href="/">voltar</a>
	<br><br>
	<h1>Account Info</h1>

	<ul>
		<% for (var k in user_info) { %>
			<%if (k != "balances") { %>
			<li>
				<strong><%= k %> - </strong>
	        	<span class="orange"><%= user_info[k] %></span>
			</li>
			<% } %>
		<% } %>
	</ul>

	<h2>Balances</h2>
	<table>
		<tr>
			<% for (var k in user_info["balances"][0]) { %>
			<th><%= k %></th>
			<% } %>
		</tr>
		<% for (var k in user_info["balances"]) { %>
		<tr>
			<% for (var i in user_info["balances"][k]) { %>
				<td><%= user_info["balances"][k][i] %></td>
			<% } %>
		</tr>
		<% } %>
	</table>
</body>
</html>