<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
	<a href="/">voltar</a>
	<br><br>
	<h1>Book</h1>
	<ul>
		<% for (var k in book) { %>
	        <li>
	        	<%= k %>
	        	<ul>
	        		<% for (var load in book[k]) { %>
	        		<li>
	        			<strong><%= load %> - </strong>
	        			<span class="orange"><%= book[k][load] %></span>
	        		</li>
	        		<% } %>
	        	</ul>
	        </li>
	    <% } %>
	</ul>
</body>
</html>