<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
	<h1>Links</h1>
	<ul>
		<li><a href="/acount-info">My Account</a></li>
		<li><a href="/my-trades">My Trades</a></li>
		<li><a href="/all-books">All Books</a></li>
		<li><a href="/trade-history">Trade History</a></li>
	</ul>
</body>
</html>