<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
	<a href="/">voltar</a>
	<br><br>
	<h1>My Trades</h1>
	
	<table>
		<tr>
			<% for (var k in trades[0]) { %>
			<th><%= k %></th>
			<% } %>
		</tr>
		<% for (var k in trades) { %>
		<tr>
			<% for (var i in trades[k]) { %>
				<td><%= trades[k][i] %></td>
			<% } %>
		</tr>
		<% } %>
	</table>
	</ul>
</body>
</html>