<!DOCTYPE html>
<html>
<head>
	<title>Estudo</title>
	<style type="text/css">

		table {
			width: 100%;
			border-collapse: collapse;

		}
		th, td {
			padding: 15px;
    		text-align: left;
		    border-bottom: 1px solid #ddd;
		}
		th {
		    background-color: #757575;
		    color: white;
		    text-transform: uppercase;
		}
		tr:hover {
			background-color: #f5f5f5;
		}
	</style>
</head>
<body>
	<a href="/">voltar</a>
	<br><br>
	<h1>Trade History</h1>
	
	<table>
		<tr>
			<% for (var k in trades[0]) { %>
			<th><%= k %></th>
			<% } %>
		</tr>
		<% for (var k in trades) { %>
		<tr>
			<% for (var i in trades[k]) { %>
				<td><%= trades[k][i] %></td>
			<% } %>
		</tr>
		<% } %>
	</table>
	</ul>
</body>
</html>